[submodule "Vendor/Alamofire"]
	path = Vendor/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Vendor/Async"]
	path = Vendor/Async
	url = https://github.com/duemunk/Async.git
[submodule "Vendor/Cartography"]
	path = Vendor/Cartography
	url = https://github.com/robb/Cartography.git
[submodule "Vendor/HanekeSwift"]
	path = Vendor/HanekeSwift
	url = https://github.com/Haneke/HanekeSwift.git
